<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="#" class="app-brand-link">
      <img [src]="logoUrl" alt="" width="170" height="170" />
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboards -->
    <li class="menu-item" [class.active]="activeItem === 'dashboards'" [class.open]="openItem === 'dashboards'">
      <a href="javascript:void(0);" class="menu-link menu-toggle" (click)="setActiveAndOpenItem('dashboards')">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Dashboards">{{ "labels.dashboards" | translate }}</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item" [class.active]="activeSubItem === 'analytics'">
          <a routerLink="/home" class="menu-link" (click)="setActiveSub('analytics')">
            <div data-i18n="Analytics">{{ "labels.analytics" | translate }}</div>
          </a>
        </li>
      </ul>
    </li>
    <li *ngIf="permissions && hasPermission('/users') || permissions && hasPermission('/languages')" class="menu-header small text-uppercase">
      <span class="menu-header-text">Apps &amp; Pages</span>
    </li>

    <!-- Pages -->
    <!-- user-page -->
    <li class="menu-item" *ngIf="permissions && hasPermission('/users')" [class.active]="activeItem === 'users'" [class.open]="openItem === 'users'">
      <a href="javascript:void(0);" class="menu-link menu-toggle" (click)="setActiveAndOpenItem('users')">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div data-i18n="Account Settings">{{ "labels.users" | translate }}</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item" [class.active]="activeSubItem === 'users-list'">
          <a routerLink="/users/list" class="menu-link" (click)="setActiveSub('users-list')">
            <div data-i18n="users">{{ "common.list" | translate }}</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- language-page -->
    <li class="menu-item" *ngIf="permissions && hasPermission('/languages')" [class.active]="activeItem === 'languages'" [class.open]="openItem === 'languages'">
      <a href="javascript:void(0);" class="menu-link menu-toggle" (click)="setActiveAndOpenItem('languages')">
        <i class="menu-icon tf-icons bx bx-globe"></i>
        <div data-i18n="Account Settings">{{ "labels.language" | translate }}</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item" [class.active]="activeSubItem === 'languages-list'">
          <a routerLink="/languages/list" class="menu-link" (click)="setActiveSub('languages-list')">
            <div data-i18n="Languages">{{ "common.list" | translate }}</div>
          </a>
        </li>
      </ul>
    </li>
    <li *ngIf="permissions && hasPermission('/permissions') || permissions && hasPermission('/roles')" class="menu-header small text-uppercase">
      <span class="menu-header-text">Roles &amp; Permissions</span>
    </li>
    <!-- Permissions Page -->
    <li class="menu-item" *ngIf="permissions && hasPermission('/permissions')" [class.active]="activeItem === 'role&permission'"
      [class.open]="openItem === 'role&permission'">
      <a href="javascript:void(0);" class="menu-link menu-toggle" (click)="setActiveAndOpenItem('role&permission')">
        <i class="menu-icon tf-icons bx bx-check-shield"></i>
        <div data-i18n="Permissions Settings">{{ "common.role&permission" | translate }}</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item" *ngIf="permissions && hasPermission('/roles')" [class.active]="activeSubItem === 'role&permission-role'">
          <a routerLink="/role&permission/role" class="menu-link" (click)="setActiveSub('role&permission-role')">
            <div data-i18n="role&permission">{{ "common.role" | translate }}</div>
          </a>
        </li>
        <li class="menu-item" *ngIf="permissions && hasPermission('/permissions')" [class.active]="activeSubItem === 'role&permission-permission'">
          <a routerLink="/role&permission/permission" class="menu-link" (click)="setActiveSub('role&permission-permission')">
            <div data-i18n="role&permission">{{ "common.permission" | translate }}</div>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
