<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="d-flex align-items-center justify-content-between mb-1">
      <h3 class="mb-0" style="margin-bottom: 1.5rem !important; padding: 24px 0px 24px 0px;">Roles List</h3>
      <button class="btn btn-secondary add-item btn-primary" tabindex="0" aria-controls="DataTables_Table_0"
        type="button" data-bs-target="#addRoleModal" data-bs-toggle="modal" style="margin-bottom: 1.5rem !important;"
        (click)="onAddRole()">
        <span>
          <i class="fa-solid fa-plus"></i>
          <span class="d-none d-sm-inline-block ms-2">
            {{ "buttons.add-new-role" | translate }}
          </span>
        </span>
      </button>
    </div>
    <!-- Role cards -->
    <div class="row g-6">
      <div class="col-xl-4 col-lg-6 col-md-6" *ngFor="let role of roles">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-4">
              <h6 class="fw-normal mb-0 text-body">Total {{ role.userCount }} users</h6>
              <ul class="list-unstyled d-flex align-items-center avatar-group mb-0">
                <!-- Loop through avatars of users -->
                <li *ngFor="let user of getDisplayedAvatars(role.users)" class="avatar pull-up" data-bs-toggle="tooltip"
                  data-bs-placement="top">
                  <img class="rounded-circle" [src]="user.avatar" alt="Avatar">
                </li>
                <!-- Additional users count -->
                <li class="avatar pull-up" *ngIf="getAdditionalCount(role.users) > 0">
                  <span class="avatar-initial rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    [attr.data-bs-original-title]="getAdditionalCount(role.users) + ' more'">
                    +{{ getAdditionalCount(role.users) }}
                  </span>
                </li>
              </ul>
            </div>
            <div class="d-flex justify-content-between align-items-end">
              <div class="role-heading">
                <h5 class="mb-1">{{ role.name === 'admin' ? 'Administrator' : role.name === 'user' ? 'Users' : role.name }}</h5>
                <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#editRoleModal" class="role-edit-modal"
                  (click)="onEditRole(role)">
                  <span>Edit Role</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Role cards -->

    <!-- Add Role Modal -->
    <div class="modal fade" id="addRoleModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-simple modal-dialog-centered modal-add-new-role">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="text-center mb-6">
              <h4 class="role-title mb-2">Add New Role</h4>
              <p>Set role permissions</p>
            </div>
            <!-- Add role form -->
            <form id="addRoleForm" class="row g-6" (ngSubmit)="onAddRoleSubmit()" #addRoleForm="ngForm">
              <div class="col-12">
                <label class="form-label" for="modalRoleName">Role Name <span class="text-danger">*</span></label>
                <input type="text" id="modalRoleName" name="roleName" class="form-control"
                  placeholder="Enter a role name" ngModel required>
              </div>
              <div class="col-12">
                <h5 class="mb-6">Role Permissions</h5>
                <div class="table-responsive">
                  <table class="table table-flush-spacing mb-0">
                    <tbody *ngFor="let groupId of getObjectKeys(permissions)">
                      <!-- Loop through permissions for each groupId and display in menu -->
                      <tr>
                        <td colspan="2" class="text-left fw-bold">
                          {{ permissions[groupId][0].groupPermission.name }}
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <ul class="nested-menu">
                            <ng-container *ngFor="let permission of permissions[groupId]">
                              <li>
                                <div class="d-flex justify-content-between">
                                  <span>{{ permission.name }}</span>
                                  <div class="form-check mb-0">
                                    <input class="form-check-input" type="checkbox" [id]="permission.id"
                                      [name]="permission.id"
                                      [checked]="addRolePermissions[permission.id] ? addRolePermissions[permission.id]['action'] : false"
                                      (change)="onCheckboxChange(permission.id, 'action', $event, false)">
                                    <label class="form-check-label" [for]="permission.id"></label>
                                  </div>
                                </div>
                              </li>
                            </ng-container>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary me-3">Submit</button>
                <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal">Cancel</button>
              </div>
            </form>
            <!--/ Add role form -->
          </div>
        </div>
      </div>
    </div>
    <!--/ Add Role Modal -->

    <!-- Edit Role Modal -->
    <div class="modal fade" id="editRoleModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-simple modal-dialog-centered modal-add-new-role">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="text-center mb-6">
              <h4 class="role-title mb-2">Edit Role</h4>
              <p>Set role permissions</p>
            </div>
            <!-- Edit role form -->
            <form id="editRoleForm" class="row g-6" (ngSubmit)="onEditRoleSubmit()" #editRoleForm="ngForm">
              <div class="col-12">
                <label class="form-label" for="modalRoleName">Role Name <span class="text-danger">*</span></label>
                <input type="text" id="modalRoleName" name="roleName" class="form-control"
                  placeholder="Enter a role name" [(ngModel)]="selectedRole.name" #roleName="ngModel" required>
                  <div *ngIf="roleName.invalid && roleName.touched" class="text-danger">
                    Role Name is required.
                  </div>
              </div>
              <div class="col-12">
                <h5 class="mb-6">Role Permissions</h5>
                <div class="table-responsive">
                  <table class="table table-flush-spacing mb-0">
                    <tbody *ngFor="let groupId of getObjectKeys(permissions)">
                      <tr>
                        <td colspan="2" class="fw-bold">{{ permissions[groupId][0].groupPermission.name }}</td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <ul class="nested-menu">
                            <ng-container *ngFor="let permission of permissions[groupId]">
                              <li>
                                <div class="d-flex justify-content-between">
                                  <span>{{ permission.name }}</span>
                                  <div class="form-check mb-0">
                                    <input class="form-check-input" type="checkbox" [id]="permission.id"
                                      [name]="permission.id"
                                      [checked]="editRolePermissions[permission.id] ? editRolePermissions[permission.id]['action'] : false"
                                      (change)="onCheckboxChange(permission.id, 'action', $event, true)">
                                    <label class="form-check-label" [for]="permission.id"></label>
                                  </div>
                                </div>
                              </li>
                            </ng-container>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary me-3">Submit</button>
                <button type="button" class="btn btn-danger me-3" (click)="onDeleteRole()">Delete</button>
                <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal">Cancel</button>
              </div>
            </form>
            <!--/ Edit role form -->
          </div>
        </div>
      </div>
    </div>
    <!--/ Edit Role Modal -->

    <!-- Delete Role Modal -->
    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteRoleModal" tabindex="-1" aria-labelledby="deleteRoleModalLabel" aria-hidden="true" #deleteRoleModal>
      <div class="modal-dialog" style="min-height: -webkit-fill-available; align-content: center">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteRoleModalLabel">Confirm Role Deletion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete the role: {{ selectedRole?.name }}?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <button type="button" class="btn btn-danger" (click)="confirmDeleteRole()">Yes</button>
          </div>
        </div>
      </div>
    </div>
    <!--/ Delete Role Modal -->
  </div>
  <!-- / Content -->
  <div class="content-backdrop fade"></div>
</div>