<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <!-- Permission Table -->
    <div class="card">
      <div class="card-datatable table-responsive">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <div class="dataTables_length" id="DataTables_Table_0_length">
                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select"
                  (change)="handleItemsPerPage($event)">
                  <option value="10" selected>10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12 col-md-9">
              <div
                class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-md-end justify-content-center flex-wrap">
                <div class="me-4 mt-n6 mt-md-0">
                  <div id="DataTables_Table_0_filter" class="dataTables_filter"><label><input type="search"
                        class="form-control" placeholder="Search Permissions" aria-controls="DataTables_Table_0"
                        name="search" ngModel [(ngModel)]="search" (keyup.enter)="onSubmitSearch(search)"></label></div>
                </div>
                <div class="dt-buttons btn-group flex-wrap"><button class="btn add-new btn-primary mb-6 mb-md-0"
                    tabindex="0" aria-controls="DataTables_Table_0" type="button" data-bs-toggle="modal"
                    data-bs-target="#addPermissionModal"><span><i class="bx bx-plus bx-xs me-0 me-sm-2"></i><span
                        class="d-none d-sm-inline-block" style="font-size: 17px;" (click)="onAddPermission()">Add
                        Permission</span></span></button> </div>
              </div>
            </div>
          </div>
          <table class="datatables-permissions table dataTable no-footer dtr-column" id="DataTables_Table_0"
            aria-describedby="DataTables_Table_0_info" style="width: 1210px;">
            <thead class="border-top">
              <tr>
                <th class="control sorting_disabled dtr-hidden" rowspan="1" colspan="1"
                  style="width: 0px; display: none;" aria-label=""></th>
                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                  style="width: 256px;" aria-label="Name: activate to sort column ascending">Name</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 330px;" aria-label="Assigned To">
                  Assigned To</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 250px;"
                  aria-label="Group Permission">
                  Group Permission</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 250px;"
                  aria-label="Group Permission">
                  Description</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 145px;" aria-label="Actions">Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }">
                <td class="  control" tabindex="0" style="display: none;"></td>
                <td><span class="text-nowrap text-heading">{{ item.name }}</span></td>
                <td>
                  <span class="text-nowrap">
                    <ng-container *ngFor="let permission of item.rolePermission">
                      <span [ngClass]="{
                          'bg-label-primary': permission.role.name === 'admin',
                          'bg-label-success': permission.role.name === 'user',
                          'bg-label-warning': permission.role.name === 'owner',
                          'bg-label-secondary': permission.role.name !== 'admin' && permission.role.name !== 'user' && permission.role.name !== 'owner'
                        }" class="badge me-4">
                        {{ permission.role.name | titlecase }}
                      </span>
                    </ng-container>
                  </span>
                </td>
                <td><span class="text-nowrap">{{ item.groupPermission.name }}</span></td>
                <td><span class="text-nowrap">{{ item.apiEndpoint.description }}</span></td>
                <td>
                  <div class="d-flex align-items-center"><span class="text-nowrap">
                    <a href="javascript:;" class="btn btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                      <i class="bx bx-dots-vertical-rounded bx-md"></i></a>
                      <div class="dropdown-menu dropdown-menu-end m-0">
                        <div data-bs-target="#editPermissionModal" data-bs-toggle="modal" data-bs-dismiss="modal">
                          <a href="javascript:;" class="dropdown-item" (click)="onEditPermission(item)"><i class="fa-regular fa-pen-to-square" style="margin-right: 10px; line-height: 20px;"></i>Edit</a>
                        </div>
                        <div data-bs-target="#deletePermissionModal" data-bs-toggle="modal" data-bs-dismiss="modal">
                          <a href="javascript:;" class="dropdown-item" (click)="onDeletePermission(item)"><i class="fa-regular fa-trash-can" style="margin-right: 10px; line-height: 20px;"></i>Delete</a>
                        </div>
                      </div>
                    </span></div>
                </td>
              </tr>
            </tbody>
          </table>
          <app-pagination [search]="search" [items]="items" [limit]="limit" [pages]="pages" [currentPage]="currentPage"
            (currentPageChange)="onPageChange($event)"></app-pagination>
        </div>
      </div>
    </div>
    <!--/ Permission Table -->


    <!-- Modal -->
    <!-- Add Permission Modal -->
    <div class="modal fade" id="addPermissionModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-simple">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="btn-close btn-pinned" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="text-center mb-6">
              <h4 class="mb-2">Add New Permission</h4>
              <p>Permissions you may use and assign to your users.</p>
            </div>
            <form [formGroup]="addPermissionForm" (ngSubmit)="onAddPermSubmit()" class="row">
              <div class="col-12 mb-4">
                <label class="form-label" for="modalPermissionName">Permission Name</label>
                <input type="text" id="modalPermissionName" formControlName="permissionName" class="form-control"
                  placeholder="Permission Name" autofocus>
              </div>

              <!-- Toggle to switch between text and select for Group Permission -->
              <div class="col-12 mb-4">
                <label class="form-label">Choose Group Permission Input Type</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="inputType" id="selectOption"
                    (click)="setInputType('select')" checked>
                  <label class="form-check-label" for="selectOption">
                    Select Input
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="inputType" id="textOption"
                    (click)="setInputType('text')">
                  <label class="form-check-label" for="textOption">
                    Text Input
                  </label>
                </div>
              </div>

              <!-- Conditionally display either the text input or the select dropdown -->
              <div class="col-12 mb-4">
                <label class="form-label" for="modalGroupPermission">Group Permission</label>

                <div *ngIf="inputType === 'text'">
                  <input type="text" id="modalGroupPermission" formControlName="groupPermission" class="form-control"
                    placeholder="Group Permission">
                </div>

                <div *ngIf="inputType === 'select'" class="position-relative">
                  <select id="modalGroupPermission" formControlName="groupPermission" class="form-select"
                    aria-label="Default select example" style="min-height: 45px;">
                    <option value="" selected disabled>Select</option>
                    <option *ngFor="let GroupPerm of GroupPermissions" [value]="GroupPerm.id">
                      {{ GroupPerm.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-12 mb-4">
                <label class="form-label" for="modalApiEndpoint">Api Endpoint</label>
                <div class="position-relative">
                  <select id="modalApiEndpoint" formControlName="apiEndpoint" class="form-select"
                    aria-label="Default select example" style="min-height: 45px;">
                    <option value="" selected disabled>Select</option>
                    <option *ngFor="let Endpoint of Endpoints" [value]="Endpoint.id">
                      {{ Endpoint.description }} ({{ Endpoint.path }})
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-12 text-center demo-vertical-spacing">
                <button type="submit" class="btn btn-primary me-4">Create</button>
                <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal"
                  aria-label="Close">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--/ Add Permission Modal -->

    <!-- Edit Permission Modal -->
    <div class="modal fade" id="editPermissionModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-simple">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="btn-close btn-pinned" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="text-center mb-6">
              <h4 class="mb-2">Edit Permission</h4>
              <p>Edit permission as per your requirements.</p>
            </div>
            <form [formGroup]="editPermissionForm" (ngSubmit)="onEditPermSubmit()" class="row pt-2 row-gap-2 gx-4">
              <div class="col-sm-12">
                <label class="form-label" for="editPermissionName">Permission Name</label>
                <input type="text" id="editPermissionName" formControlName="editPermissionName" class="form-control" placeholder="Permission Name">
              </div>
              <div class="col-sm-12 mt-4 position-relative">
                <label class="form-label" for="editGroupPermission">Group Permission</label>
                <select id="editGroupPermission" formControlName="groupPermission" class="form-select" style="min-height: 45px;">
                  <option value="" selected disabled>Select</option>
                  <option *ngFor="let GroupPerm of GroupPermissions" [value]="GroupPerm.id">
                    {{ GroupPerm.name }}
                  </option>
                </select>
              </div>
              <div class="col-12 mb-4 mt-4">
                <label class="form-label" for="editApiEndpoint">Api Endpoint</label>
                <div class="position-relative">
                  <select id="editApiEndpoint" formControlName="editApiEndpoint" class="form-select" style="min-height: 45px;" >
                    <option value="" selected disabled>Select</option>
                    <option *ngFor="let Endpoint of Endpoints" [value]="Endpoint.id">
                      {{ Endpoint.description }} ({{ Endpoint.path }})
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-12 text-center mb-4 mt-5">
                <button type="submit" class="btn btn-primary mt-1">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--/ Edit Permission Modal -->

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deletePermissionModal" tabindex="-1" aria-labelledby="deletePermissionModalLabel" aria-hidden="true" #deletePermissionModal>
      <div class="modal-dialog" style="min-height: -webkit-fill-available; align-content: center;">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deletePermissionModalLabel">Confirm Role Deletion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete the permission: {{ selectedPermission?.name }}?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <button type="button" class="btn btn-danger" (click)="confirmDeletePerm()">Yes</button>
          </div>
        </div>
      </div>
    </div>
    <!--/ Delete Role Modal -->
    <!-- /Modal -->
  </div>
  <!-- / Content -->
  <div class="content-backdrop fade"></div>
</div>